body {
  background: #50514c;
  padding: 0;
  margin: 0;
}

#strip {
  width: 900px;
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
}

#outer-content-container {
	padding-left: 60px;
	width: 640px;
}

#header-text, #bottom-text {
	font-size: 1.2em;
}

h1, h2, h3, p {
	font-family: "Crimson Text", sans-serif;
	color: #000000;
}

h3.chapter {
	padding-top: 30px;
}

a:hover, a:visited, a:link, a:active {
    color: #000000;
}

.player-surround {
	width: 620px;
	height: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background: #d5d5d5;
}

.image-caption {
	padding-top: 30px;
}

.repeat-image {
	padding-top: 20px;
}

.contact-section {
	padding-top: 30px;
}

p.caption {
	margin-top: 0px;
}

.author-wrap {
	width: 100%;
}

.author-text {
	float: right;
	width: 30%;
	padding-right: 20px;
}

.author-p {
	margin-top: 0px;
	font-style: italic;
	text-align: right;
}

.author-img {
	float:right;
}

#bottom-link {
	clear: both;
	padding-top: 20px;
}

#bottom {
	padding-bottom: 40px;
}
