<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Der Deichgraf Peter Lafrenz </title>
  <link rel="stylesheet" href="css/styles.css" />
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic" rel="stylesheet" type="text/css">
</head>
<body>
 
  <div id="strip">
    
    <section role="banner">
      <img src="img/deichgraf-top-img.jpg" />
    </section>

    <div id="outer-content-container">
      <h1> Der Deichgraf Peter Lafrenz </h1>
      <h2>Ein St&uuml;ck Geschichte zum H&ouml;ren und Sehen</h2>
 
      {{ content }}
 
  </div>
</body>
</html>